name: Playwright Automation Tests

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  schedule:
    # Daily run at 6:30 AM IST (01:00 UTC)
    - cron: "0 1 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run Playwright tests
        run: |
          pytest -v --maxfail=1
